<div class="jumbotron">

<h1 style="color:#428DC8">Junk Info</h1>

<p id="notice"><%= notice %></p>



<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Purchase Date:</strong></td>
        <td><%= @junk.dateOfPurchase %></td>
      </tr>
      <tr>
        <td><strong>Quantity:</strong></td>
        <td><%= @junk.quantity %></td>
      </tr>
      <tr>
        <td><strong>Denomination:</strong></td>
        <td><%= @junk.name %></td>
      </tr>
      <tr>
        <td><strong>Silver Percentage:</strong></td>
        <td><%= @junk.silverPercentage %></td>
      </tr>
      <tr>
        <td><strong>Weight (ozt):</strong></td>
        <td><%= @junk.silverContent %></td>
      </tr>
        <td><strong>Purchase Price:</strong></td>
        <td>$ <%= @junk.purchasePrice %></td>
      </tr>
      <tr>
        <td><strong>Spot at Purchase:</strong></td>
        <td>$ <%= @junk.spotAtPurchase %></td>
      </tr>
      <tr>
        <td><strong>Country of Mintage:</strong></td>
        <td><%= @junk.country %></td>
      </tr>
      <tr>
        <td><strong>Condition:</strong></td>
        <td><%= @junk.condition %></td>
      </tr>
      <tr>
        <td><strong>Additional Info/Comments:</strong></td>
        <td><%= @junk.comments %></td>
      </tr>

  </tbody>
</table>


<%= link_to 'Edit', edit_junk_path(@junk) %> |
<%= link_to 'Back', junks_path %>

</div>
