<div class="jumbotron">

<h1 style="color:#428DC8">Round Stack</h1>

<div class="table-responsive">

<table class="table">
  <thead>
    <tr>
      <th>Purchase Date</th>
      <th>Quantity</th>
      <th>Name/Series</th>
      <th>Weight (ozt)</th>
      <th>Purchase Price</th>
      <th>Spot at Purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.dateOfPurchase %></td>
        <td><%= round.quantity %></td>
        <td><%= round.name %></td>
        <td><%= round.silverContent %></td>
        <td>$ <%= round.purchasePrice %></td>
        <td>$ <%= round.spotAtPurchase %></td>
        <td><%= link_to 'Info', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Remove', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if current_user %>
  <%= link_to 'Add Rounds(s) to Stack', new_round_path %>
<% end %>

</div>
