<div class="jumbotron">

<h1 style="color:#428DC8">Dashboard</h1>

<br>

<div class="row">

	<!-- total stack -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Total Stack</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalCoins + @user.totalBars + @user.totalRounds + @user.totalJunks + @user.totalOthers %></strong></td>
			<td><strong><%= @user.totalCoinWeight + @user.totalBarWeight + @user.totalRoundWeight + @user.totalJunkWeight + @user.totalOtherWeight %> ozt</td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;">.</p>
	</div>
	</div>

	<!-- coins -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Coins</h2>

		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalCoins %></td>
			<td><strong><%= @user.totalCoinWeight %> ozt</td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", coins_path %></p>

	</div>
	</div>

</div>

<div class="row">

	<!-- bars -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Bars</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalBars %></strong></td>
			<td><strong><%= @user.totalBarWeight %> ozt</strong></td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", bars_path %></p>
	</div>
	</div>

	<!-- rounds -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Rounds</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalRounds %></strong></td>
			<td><strong><%= @user.totalRoundWeight %> ozt</strong></td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", rounds_path %></p>
	</div>
	</div>

</div>

<div class="row">

	<!-- junk -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Junk</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalJunks %></strong></td>
			<td><strong><%= @user.totalJunkWeight %> ozt</strong></td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", junks_path %><p>
	</div>
	</div>

	<!-- other -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Other</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<td><strong><%= @user.totalOthers %></strong></td>
			<td><strong><%= @user.totalOtherWeight %> ozt</strong></td>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", others_path %></p>
	</div>
	</div>

</div>



</div>