<div class="jumbotron">

<h1 style="color:#428DC8">Dashboard</h1>

<br>

<div class="row">

	<!-- coins -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Coins</h2>

		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
	    	<% if @user.totalCoins != nil && @user.totalCoinWeight != nil %>
				<td><strong><%= @user.totalCoins %></td>
				<td><strong><%= @user.totalCoinWeight %> ozt</td>
			<% else %>
				<td><strong>0</td>
				<td><strong>0.0 ozt</td>
			<% end %>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", coins_path %></p>

	</div>
	</div>

	<!-- bars -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Bars</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<% if @user.totalBars != nil && @user.totalBarWeight != nil %>
				<td><strong><%= @user.totalBars %></td>
				<td><strong><%= @user.totalBarWeight %> ozt</td>
			<% else %>
				<td><strong>0</td>
				<td><strong>0.0 ozt</td>
			<% end %>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", bars_path %></p>
	</div>
	</div>

</div>

<div class="row">

	<!-- rounds -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Rounds</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<% if @user.totalRounds != nil && @user.totalRoundWeight != nil %>
				<td><strong><%= @user.totalRounds %></td>
				<td><strong><%= @user.totalRoundWeight %> ozt</td>
			<% else %>
				<td><strong>0</td>
				<td><strong>0.0 ozt</td>
			<% end %>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", rounds_path %></p>
	</div>
	</div>

	<!-- junk -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Junk</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<% if @user.totalJunks != nil && @user.totalJunkWeight != nil %>
				<td><strong><%= @user.totalJunks %></td>
				<td><strong><%= @user.totalJunkWeight %> ozt</td>
			<% else %>
				<td><strong>0</td>
				<td><strong>0.0 ozt</td>
			<% end %>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", junks_path %><p>
	</div>
	</div>

</div>

<div class="row">

	<!-- other -->
	<div class="col-md-6">
		<div class="classWithPadding">
		<h2>Other</h2>
		<table class="table">
	    <thead>
			<tr>
				<th>Items</th>
				<th>Weight</th>
				<th> <!-- actions --> </th>
			</tr>
	    </thead>
	    <tbody>
			<% if @user.totalOthers != nil && @user.totalOtherWeight != nil %>
				<td><strong><%= @user.totalOthers %></td>
				<td><strong><%= @user.totalOtherWeight %> ozt</td>
			<% else %>
				<td><strong>0</td>
				<td><strong>0.0 ozt</td>
			<% end %>
	    </tbody>
		</table>

		<p style="font-size:100%; text-align:right;"><%= link_to "view", others_path %></p>
	</div>
	</div>

</div>



</div>