<div class="jumbotron">

<h1 style="color:#428DC8">Coin Stack</h1>

<div class="table-responsive">

<table class="table">
  <thead>
    <tr>
      <th>Purchase Date</th>
      <th>Quantity</th>
      <th>Name/Series</th>
      <th>Weight (ozt)</th>
      <th>Purchase Price</th>
      <th>Spot at Purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.coins.each do |coin| %>
      <tr>
        <td><%= coin.dateOfPurchase %></td>
        <td><%= coin.quantity %></td>
        <td><%= coin.name %></td>
        <td><%= coin.silverContent %></td>
        <td>$ <%= coin.purchasePrice %></td>
        <td>$ <%= coin.spotAtPurchase %></td>
        <td><%= link_to 'Info', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Remove', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if current_user %>
  <%= link_to 'Add Coin(s) to Stack', new_coin_path %>
<% end %>

</div>
